/* Styles for odin-recipes.html */

body {
    background-color: antiquewhite;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.page-card {
    margin: 50px;
    padding: 30px;
    background-color: rgb(229, 198, 157);
    border-style: solid;
    border-color: rgb(49, 35, 13);
    border-width: 6px;
}

.recipe-list-item {
    font-size: 18px;
    font-weight: bold;
}

h1 {
    color: rgb(44, 36, 36);
    font-size: 48px;
    font-weight: bold;
}

h2,
h3 {
    color: rgb(44, 36, 36)
}

#index-heading {
    font-size: 56px;
    text-align: center;
    margin-bottom: 12px;
}

#index-heading2 {
    font-size: 36px;
    font-weight: bold;
}

a {
    color:rgb(24, 10, 5)
}


.recipe-image {
    border-color: rgb(49, 35, 13);
    border-style: solid;
    border-width: 3px;
}



.recipe-list-card {
    background-color: rgb(224, 217, 154);
    margin: 10px 10px;
    border: 8px;
    border-style: groove;
    padding: 15px 15px;
}

.recipe-list-item {
    margin: 20px;
}