/* Stylesheet for odin-recipes.html */

body {
    background-color: antiquewhite;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.page-card {
    margin: 50px;
    padding: 30px;
    background-color: rgb(224, 217, 186);
    border-style: solid;
    border-color: rgb(49, 35, 13);
    border-width: 6px;
}

.recipe-list-item {
    font-size: 18px;
    font-weight: bold;
}

h1 {
    color: rgb(44, 36, 36);
    font-size: 48px;
    font-weight: bold;
}

#index-heading {
    font-size: 56px;
    text-align: center;
}

a {
    color:rgb(24, 10, 5)
}

img {
    border-color: rgb(49, 35, 13);
    border-style: solid;
    border-width: 3px;
}

